@import "fonts.css" screen;
@import "mobile.css";
*{
    padding: 0;
    margin: 0;
    font-family:'OpenSans-Regular';
}
body,html{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 786px;
    background-image: url(img/header-background.jpg);
}
nav{
    margin: 0 auto;
    max-width:1280px;
    width: 100%;
}
#checkbox-menu,
.toggle{
    display: none;
}
.menu{
    padding: 0;
    margin: 0;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    color:#fff;
    font-size: 18px;
    text-decoration: none;
    align-self: center;
    transition: all .2s linear;
}
.menu .nav-link a{
    font-family: 'OpenSans-Bold';
    padding: 10px 22px;
}
.menu .nav-link a:hover{
    border-bottom: 5px #00501f solid; 
}
.menu .lang-active a{
    font-family: 'OpenSans-Regular';
    background: #00501f;
    border-radius: 30px;
    padding: 3px 17px;
}
.menu .lang-unactive a{
    font-family: 'OpenSans-Regular';
    border-radius: 30px;
    padding: 3px 17px;
}
.menu .lang-unactive a:hover{
    font-family: 'OpenSans-Regular';
    background: #cfcfcf;
}
.menu .help a{
    background: #00501f;
    font-family: 'OpenSans-Regular';
    padding: 13px 50px;
    margin-left: 44px;
}
.menu .help a:hover{
    background: none;
    color:#00501f;
    border:1px #00501f solid;
}
.menu .logo a{
    padding-right: 44px;
}
.intro{
    color: #fff;
    height: 100%;
    padding-top: 75px;
    padding-left: 13%;
}
.intro .intro-text{
    font-size: 85px;
    font-family: 'OpenSans-Bold';
}
.intro .intro-subtext{
    font-size: 27px;
}
.intro .button{
    color: #fff;
    font-size: 18px;
    background: #00501f;
    text-decoration: none;
    align-self: center;
    padding: 13px 50px;
    transition: all .2s linear;
}
.intro a{
    display: block;
    margin-top: 75px;
    width:200px;
    text-align: center;
}
.intro .button:hover{
    background: none;
    color:#00501f;
    border:1px #00501f solid;
}
@media screen and (max-width: 1280px){
    .toggle{
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #fff;
        background: #00501f;
        transition: all .2s linear;
    }
    .toggle:hover{ 
        background: none;
        color:#00501f;
        background: #cfcfcf;
        border:1px #00501f solid;
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .6s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 450px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }
    .menu li{
        display: flex;
        align-self: center;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a{
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu .logo a{
        padding: 0px;
    }
    .menu .lang-active a{
        width: 60px;
    }
    .menu .lang-unactive a{
        width: 60px;
    }
    .menu .help a{
        font-family: 'OpenSans-Bold';
        padding: 0 auto;
        align-self: center;
        background: none;
        margin: 0px;
    }
    .menu .help a:hover{
        border:none;
        border-bottom: 5px #00501f solid; 
        color:#fff;
    }
}