@import "fonts.css" screen;
@import "mobile.css";
*{
    padding: 0;
    margin: 0;
    font-family:'OpenSans-Regular';
}
body,html{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 786px;
    background-image: url(img/header-background.jpg);
}
nav{
    margin: 0 auto;
    max-width:1280px;
    width: 100%;
}
input, textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px #000 solid;
    font-size: 20px;
    font-family:'OpenSans-Regular';
    padding-top: 45px;
    padding-bottom: 8px;
    outline: none;
    -moz-appearance: none;
    resize: none;
    overflow: auto;
}
textarea::placeholder{
    vertical-align: bottom;
}
#checkbox-menu,
.toggle{
    display: none;
}
.menu{
    padding: 0;
    margin: 0;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    color:#fff;
    font-size: 18px;
    text-decoration: none;
    align-self: center;
    transition: all .2s linear;
}
.menu .nav-link a{
    font-family: 'OpenSans-Bold';
    padding: 10px 22px;
}
.menu .nav-link a:hover{
    border-bottom: 5px #00501f solid; 
}
.menu .lang-active a{
    font-family: 'OpenSans-Regular';
    background: #00501f;
    border-radius: 30px;
    padding: 3px 17px;
}
.menu .lang-unactive a{
    font-family: 'OpenSans-Regular';
    border-radius: 30px;
    padding: 3px 17px;
}
.menu .lang-unactive a:hover{
    font-family: 'OpenSans-Regular';
    background: #cfcfcf;
}
.menu .help a{
    background: #00501f;
    font-family: 'OpenSans-Regular';
    padding: 13px 50px;
    margin-left: 44px;
}
.menu .help a:hover{
    background-color: #fff;
    color:#00501f;
    border:2px #00501f solid;
}
.menu .logo a{
    padding-right: 44px;
}
.intro{
    color: #fff;
    height: 100%;
    padding-top: 75px;
    padding-left: 13%;
}
.intro .intro-text{
    font-size: 85px;
    font-family: 'OpenSans-Bold';
}
.intro .intro-subtext{
    font-size: 27px;
}
.intro .button{
    color: #fff;
    font-size: 18px;
    background: #00501f;
    text-decoration: none;
    align-self: center;
    padding: 13px 50px;
    transition: all .2s linear;
}
.intro a{
    display: block;
    margin-top: 75px;
    width:200px;
    text-align: center;
}
.intro .button:hover{
    background-color: #fff;
    color:#00501f;
    border:2px #00501f solid;
}
.margin-top{
    margin-top: 140px;
}
.no-padding{
    padding-bottom: 0px;
}
main section{
    padding-bottom: 140px;
}
main section .icon{
    height: 70px;
    display: block;
    margin: 0px auto;
}
main section .icon-4{
    height: 68px;
}
main section .icon-5{
    height: 56px;
}
main section .icon-6{
    height: 32px;
}
main section .icon-7{
    height: 80px;
}
main section .icon-8{
    height: 70px;
}
main section h1{
    display: block;
    margin: 30px auto;
    font-size: 44px;
    font-family: 'OpenSans-Bold';
    text-align: center;
}
main section h2{
    margin: 20px auto;
    font-size: 36px;
    font-family: 'OpenSans-Bold';
}
main section h3{
    margin: 14px auto;
    font-size: 27px;
    font-family: 'OpenSans-Bold';
}
main section h4{
    font-size: 22px;
    font-family: 'OpenSans-Regular';
}
main section h5{
    font-size: 16px;
    font-family: 'OpenSans-Bold';
}
main section p{
    font-size: 18px;
    font-family: 'OpenSans-Regular';
}
main section a{
    color:#000;
    font-size: 18px;
    text-decoration: none;
    align-self: center;
    transition: all .2s linear;
    border-bottom: 2px #00501f solid;
}
main section a:hover{
    color:#00501f;
}
main section .button{
    color: #fff;
    background: #00501f;
    font-family: 'OpenSans-Regular';
    font-size: 18px;
    width: 240px;
    padding: 13px 0px;
    text-decoration: none;
    align-self: center;
    display: block;
    text-align: center;
    transition: all .2s linear;
    border: none;
    
}
main section .button:hover{
    background-color: #fff;
    color:#00501f;
    border:2px #00501f solid;
}
main section .centered{
    max-width: 1000px;
    text-align: center;
    display: block;
    margin: 0px auto;
}
main section .border-bottom{
    width: 140px;
    display: block;
    margin: 30px auto;
    border-bottom: 5px #00501f solid;
}
main section .double-block{
    max-width: 1280px;
    margin: 50px auto 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
main section .double-block .block{
    width: 414px;
    margin: 20px 0px;
}
main section .double-block .block p{
    margin-bottom: 80px;
}
main section .double-block .block .icon-circle{
    height: 224px;
    width: 224px;
    background-color:#00501f;
    border-radius: 224px;
    margin-bottom: 30px;
}
main section .double-block .block .icon-circle img{
    padding: 49px;
    height: 130px;
}
main section .news-block{
    max-width: 1280px;
    margin: 50px auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
main section .news-block .block{
    width: 414px;
    margin-bottom: 40px;
}
main section .news-block .block img{
    width: 414px;
    height: 323px;
    margin-bottom: 30px;
}
main section .news-links{
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main section .monuments-block{
    width: 100%;
    height: 720px;
    margin: 50px 0px;
    background-image: url(img/pamyatniki-background.jpg);
}
main section .monuments-block .content{
    max-width: 500px;
    margin-left: 80px;
    padding-top: 90px;
}
main section .monuments-block .content h2{
    margin-top: 0px;
    margin-bottom: 15px;
}
main section .monuments-block .content .button{
    margin-top: 65px;
}
main section .bottom-link{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main section .calendar{
    max-width: 1280px;
    margin: 0px auto 75px auto;
}
main section .calendar .block{
    padding: 35px 0px;
    border-bottom: 1px #4b4f4d solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
main section .calendar .block:hover{
    background-color: #f2f2ff;
}
main section .calendar .block .circle{
    width: 162px;
    height: 162px;
    border-radius:50%;
}
main section .calendar .block .date{
    margin-top: 40px;
}
main section .calendar .block .description{
    width:400px;
    margin-top: 26px;
}
main section .calendar .block .join{
    margin-top: 54px;
}
main .green{
    padding-top: 140px;
    color: #fff;
    background-color: #00501f;
}
main .green a{
    color:#fff;
    border-bottom: 2px #fff solid;
}
main .green a:hover{
    color:#cfcfcf;
    border-bottom: 2px #cfcfcf solid;
}
main section .family-block{
    max-width:1280px;
    margin: 80px auto 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
main section .family-block .block{
    max-width: 640px;
}
main section .family-block .text{
    max-width: 514px;
    padding-top: 30px;
    padding-left: 90px;
}
main section .family-block .block img{
    width: 100%;
}
main section .family-block .block .family-link{
    margin-top: 120px;
}
main section .family-block .block h4{
    margin-bottom: 26px;
}
main section .questions-donate-block{
    max-width:1280px;
    margin: 80px auto 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
main section .questions-donate-block .block{
    max-width: 640px;
    height: 700px;
    padding-top: 30px;
}
main section .questions-donate-block .block h1{
    text-align: left;
}
main section .questions-donate-block .block .button{
    margin-top: 90px;
}
main section .questions-donate-block .donate{
    max-width: 550px;
    padding-left: 90px;
    background-image: url(img/donate.jpg);
}
footer{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #00501f;
    color:#fff;
}
footer .footer-content{
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer .footer-content .block{
    max-width: 304px;
}
footer .footer-content .block h1{
    font-size: 18.35px;
    margin-top: 30px;
    margin-bottom: 8px;
}
footer .footer-content .block p{
    color: #cfcfcf;
    margin-bottom: 14px;
}
footer .footer-content .block a{
    display: block;
    color: #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    text-decoration: none;
    align-self: center;
    transition: all .2s linear;
}

}
footer .footer-content .block a:hover{
    border-bottom: 2px #fff solid;
}

footer .footer-social{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
footer .footer-social a{
    display: block;
    color: #fff;
    border: none;
    text-decoration: none;
    align-self: center;
    transition: all .2s linear;
    margin: 0px 20px;
}
footer .footer-social a i{
    font-size: 35px;
    color: #fff;
}
footer .footer-social a:hover{
    color: #cfcfcf;
}

@media screen and (max-width: 1024px){
    header{
        background: none;
        height: auto;
    }
    header section{
        background-image: url(img/header-background.jpg);
        padding-bottom: 100px;
    }
    header nav{
        background-image: url(img/header-background.jpg);
    }
    .toggle{
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #fff;
        background: #00501f;
        transition: all .2s linear;
    }
    .toggle:hover{ 
        background: none;
        color:#00501f;
        background: #cfcfcf;
        border:1px #00501f solid;
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .6s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 450px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }
    .menu li{
        display: flex;
        align-self: center;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a{
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu .logo a{
        padding: 0px;
    }
    .menu .lang-active a{
        width: 60px;
    }
    .menu .lang-unactive a{
        width: 60px;
    }
    .menu .help a{
        font-family: 'OpenSans-Bold';
        padding: 0 auto;
        align-self: center;
        background: none;
        margin: 0px;
    }
    .menu .help a:hover{
        border:none;
        border-bottom: 5px #00501f solid; 
        color:#fff;
    }
}

@media screen and (min-width: 1440px){
    header{
        background-size: 100%
    }
    main section .monuments-block{
        background-size: 100%
    }
}